<div class="container mx-auto p-4">
  <!-- Mensaje de confirmación -->
  <div *ngIf="mensajeEnviado" class="fixed top-0 left-0 right-0 bg-green-500 text-white p-4 text-center z-50">
    El impuesto ha sido enviado a la base de datos.
  </div>

  <div class="mt-0.01"> <!-- Añadir márgenes para evitar que el contenido se superponga con la alerta -->
    <div class="flex flex-col md:flex-row">
      <!-- Formulario -->
      <div class="w-full md:w-1/2 p-4">
        <form (ngSubmit)="enviarImpuestos()">
          <div class="mb-8">
            <h1 class="text-center text-3xl font-bold text-primary">Gastos Personales</h1>

            <div class="mt-6">
              <label for="ingreso" class="block text-gray-700 font-bold mb-2">Ingreso:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="ingreso" name="ingreso" [(ngModel)]="impuestos.ingreso" min="0" required>
            </div>
            
            <div class="mt-4">
              <label for="salud" class="block text-gray-700 font-bold mb-2">Salud:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="salud" name="salud" [(ngModel)]="impuestos.salud" (ngModelChange)="validarGasto('salud')" min="0" required>
              <span class="text-gray-500 text-sm">Límite: $15238.65</span>
            </div>
            
            <div class="mt-4">
              <label for="educacion" class="block text-gray-700 font-bold mb-2">Educación:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="educacion" name="educacion" [(ngModel)]="impuestos.educacion" (ngModelChange)="validarGasto('educacion')" min="0" required>
              <span class="text-gray-500 text-sm">Límite: $3809.65</span>
            </div>
            
            <div class="mt-4">
              <label for="vestimenta" class="block text-gray-700 font-bold mb-2">Vestimenta:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="vestimenta" name="vestimenta" [(ngModel)]="impuestos.vestimenta" (ngModelChange)="validarGasto('vestimenta')" min="0" required>
              <span class="text-gray-500 text-sm">Límite: $3809.65</span>
            </div>
        
            <div class="mt-4">
              <label for="vivienda" class="block text-gray-700 font-bold mb-2">Vivienda:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="vivienda" name="vivienda" [(ngModel)]="impuestos.vivienda" (ngModelChange)="validarGasto('vivienda')" min="0" required>
              <span class="text-gray-500 text-sm">Límite: $3809.65</span>
            </div>
        
            <div class="mt-4">
              <label for="alimentacion" class="block text-gray-700 font-bold mb-2">Alimentación:</label>
              <input type="number" class="w-full p-2 border border-gray-300 rounded" id="alimentacion" name="alimentacion" [(ngModel)]="impuestos.alimentacion" (ngModelChange)="validarGasto('alimentacion')" min="0" required>
              <span class="text-gray-500 text-sm">Límite: $3809.65</span>
            </div> 
            
            <div class="mt-4">
              <h2 class="text-xl font-bold">Total deducción por gastos personales: {{gastosTotales()}}</h2>
              <span class="text-gray-500 text-sm">Límite: $15238.60</span>
            </div>
            
            <button type="submit" class="w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-6">Enviar</button>
          </div>
        </form>
      </div>
      
      <!-- Cálculos de impuestos -->
      <div class="w-full md:w-1/2 p-4 md:ml-auto">
        <div class="sticky top-0 md:top-auto md:bottom-0">
          <h3 class="text-xl font-bold mb-4">Detalle Impuesto: {{calculoImpuestos()}}</h3>
          <div class="p-4 border rounded-lg bg-gray-50">
            <span class="block text-gray-700 mb-2">Base Imponible: {{ impuestos.baseImponible }}</span>
            <span class="block text-gray-700 mb-2">Excedente: {{ impuestos.excedente }}</span>
            <span class="block text-gray-700 mb-2">Porcentaje Excedente: {{ impuestos.valorExcedente }}</span>
            <span class="block text-gray-700 mb-2">Impuesto a la renta: {{ impuestos.IR }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
