.custom-link {
  font-weight: bold; /* Añade negrita para destacar */
  color: #ffffff; /* Texto blanco */
}

.custom-link:hover {
  color: #ffffff; /* Cambia el color al pasar el mouse */
  text-decoration: none; /* Quita la subrayado al pasar el mouse */
}

.custom-link.router-link-active {
  background-color: rgba(255, 255, 255, 0.1); /* Color de fondo cuando está activo */
  border-radius: 5px; /* Añade bordes redondeados */
  padding: 5px 10px; /* Añade espacio alrededor del texto */
}
