<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/galeria" routerLinkActive="active">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/formulario" routerLinkActive="active">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/impuesto" routerLinkActive="active">Impuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="/reporte-formulario" routerLinkActive="active">Reporte Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/reporte" routerLinkActive="active">Reporte Impuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user-reporte" routerLinkActive="active">Reporte Usuarios</a>
        </li>
      </ul>
    </div>
</nav>
