.custom-info-link {
    font-weight: bold; /* Añade negrita para hacerlo más prominente */
    font-size: 1.2rem; /* Cambia el tamaño del texto */
    color: #fff; /* Cambia el color del texto a blanco */
    /* Otros estilos según sea necesario */
  }
  