<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/galeria" routerLinkActive="active">Inicio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/formulario" routerLinkActive="active">Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/impuesto" routerLinkActive="active">Impuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/reporte-formulario" routerLinkActive="active">Reporte Formulario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/reporte" routerLinkActive="active">Reporte Impuesto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link custom-link" routerLink="/user-reporte" routerLinkActive="active">Reporte Usuarios</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
