<form (ngSubmit)="enviarFactura()">
   <div class="form-group">
     <h1 class="text-center text-primary">Facturas Gastos</h1>
 
     <div class="form-group">
       <label for="ruc" class="form-label">Ruc:</label>
       <input type="text" class="form-control" id="ruc" name="ruc" [(ngModel)]="facturaDatos.ruc" required>
     </div>
 
     <div class="form-group">
       <label for="valor" class="form-label">Valor:</label>
       <input type="text" class="form-control" id="valor" name="valor" [(ngModel)]="facturaDatos.valor"  required>
     </div>

     <div class="form-group">
      <label for="gasto" class="form-label">Gasto:</label>
      <select id="gasto" class="form-control" aria-label="Tipo de gasto" name="gasto" [(ngModel)]="facturaDatos.gasto" required>
        <option value="" disabled selected>Escoja el tipo de gasto</option>
        <option value="Salud">Salud</option>
        <option value="Vivienda">Vivienda</option>
        <option value="Educacion">Educación</option>
        <option value="Ninguno">Ninguno</option>
      </select>
    </div>    

     <button type="submit" class="btn btn-primary">Enviar</button>
   </div>
 </form>
 
 <div class="mt-5">
  <h2 class="text-center text-primary">Datos de la Factura</h2>
  <p><strong>RUC:</strong> {{ facturaDatos.ruc }}</p>
  <p><strong>Valor:</strong> {{ facturaDatos.valor }}</p>
  <p><strong>Gasto:</strong> {{ facturaDatos.gasto }}</p>
</div>


   