
   <form>
    <div class="form-group">
    <h1 class="text-center text-primary">Facturas Gastos</h1>
    <div class="input-group">
    <label for="ruc" class="form-label">Ruc</label>
    <input type="text" class="form-control" id="ruc" name="ruc"[(ngModel)]="ruc">
    </div>
    <div class="input-group">
    <label for="valor" class="form-label">Valor de factura</label>
    <input type="text" class="form-control" id="valor" name="valor"[(ngModel)]="valor" >
    </div>
    <div class="input-group">
    <label for="gasto" class="form-label">Gasto</label>
    <select class="form-select" aria-label="gasto" name="gasto"[(ngModel)]="gasto">
    <option selected>Escoja el tipo de gasto</option>
    <option value="Salud">Salud</option>
    <option value="Vivienda">Vivienda</option>
    <option value="Educacion">Educación</option>
    <option value="Ninguno">Ninguno</option>
    </select>
    </div>
   <button>Agregar</button>
</div>
</form>
<div>
    <p>RUC: {{ruc}}</p>
    <p>VALOR: {{valor}}</p>
    <p>TIPO GASTO: {{gasto}}</p>
   </div>
   